name: Test

on:
  pull_request: {}
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - uses: actions/create-github-app-token@v2
      id: get-github-apps
      with:
        app-id: ${{ secrets.APP_ID }}
        private-key: ${{ secrets.PRIVATE_KEY }}
        owner: nnsnodnb
        repositories: gs-reminder

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Install Dependencies
      run: |
        python -m pip install -U pip
        pip install -r .github/requirements.txt
        poetry config virtualenvs.in-project true
        poetry sync --without=dev
        poetry self add "poetry-dynamic-versioning[plugin]"

    - name: Send Test
      env:
        GITHUB_TOKEN: ${{ steps.get-github-apps.outputs.token }}
        SLACK_URL: ${{ secrets.SLACK_URL }}
        REPOSITORY: ${{ github.repository }}
      run: |
        poetry run python -m gs_reminder -r "${REPOSITORY}" -u ./examples/username.json

  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [ "3.9", "3.10", "3.11", "3.12", "3.13" ]

    steps:
      - uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install -U pip
          pip install -r .github/requirements.txt
          poetry config virtualenvs.in-project true
          poetry sync --no-root
          poetry self add "poetry-dynamic-versioning[plugin]"

      - name: Run Tests
        run: poetry run python -m pytest -v tests
